
*{
    margin: 0; 
    padding: 0;
   box-sizing: border-box;
}
body {
   height: 100vh; 
   background: linear-gradient(to right, rgb(255, 94, 94) , rgb(157, 255, 0));
}
.container {
    background-color:  white ; 
    width: 400px;
    margin: 120px auto;
    border-radius: 15px;
    padding: 15px 25px;
   
} 
.searchTag {
    color: rgb(157, 255, 0)  ;
     
}
.content {
    border: 2px solid black;
    padding: 15px;
    display: flex ; 
    flex-wrap: wrap;
    position: relative;
    
}
.search-text {
    list-style: none; 
    margin-right : 5px ;
    display: flex; 
    font-size: 16px;
    background-color:rgb(157, 255, 0) ;
    border-radius:5px ;
    padding: 5px;
    margin-bottom: 5px ;
}
.btn-delete  {
    font-size: 12px;
    line-height: 19px;
    padding-top:5px ;
}
.input-text{
    outline: none;
    border: none; 
    flex:1 ; 
    font-size: 15px;
    
}
.remove-all {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    margin-top: 15px;
     background-color: aquamarine;
}