
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');
:root  {
    --color-system : rgb(1, 80, 1) ; 
}
/* tạo biến với css
 */

/* rest html   */
* {
    margin: 0px; 
    padding: 0px;
    box-sizing: border-box;
} 
body {
    background: linear-gradient(to right , rgb(1, 80, 1) , rgb(0, 98, 128) ); 
    /* màu từ trái sang phải  */
    height: 10vh;
    font-family: "Poppins";
}

.card {
    margin: 120px auto ;  
    /* margin auto tự động canh giữa  */
    width:350px ;
    height: 450px ;
    background-color: #272d40;
    padding: 20px;
    border-radius: 15px;
    color: white ; 
   position: relative; 
   box-shadow: 0 0 5px 5px #888888;
}
.card_heart, .card_cart {
font-size: 25px;
 position: absolute;
 left : 20px; 
 top : 15px ; 
}
.card_cart {
    left: unset;
    right: 20px;
    
}
.card_img {
    width: 80%;
    padding-left:30px ;
    transition: 0.5s;
}
.card_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* lắp đầy toàn bộ nội dụng phần tử */
}
.card_title, .card_price  {
 font-size: 15px;
 font-weight: bold;
 text-align: center;
 transition: 0.5s;
}
.card_title {
    color : var(--color-system)
}
.card_size , .card_color {
    display: flex;
    align-items:center ;
    margin-bottom:10px ;
}
.card_size span {
    padding: 1px 5px ; 
    background: #dadada;
    color: black ; 
    border-radius: 10px;
    margin: 0 2px ; 
}
.card_color  span {
    width: 12px;
    height: 12px;
    border-radius:50% ;
    margin: 0 5px;
}
.card_color--green {
  background-color: green;
}
.card_color--red {
    background-color: red ; 
}
.card_color--black {
  background-color:black ;
} 
.card_action  button{
 background-color: var(--color-system);
 border: none ; 
 outline: none ;
 color: white;
 padding: 10px 20px; 
 border-radius: 5px;
 font-weight: bold;
}
.card:hover .card_img {
    transform: translateY(-80px)  rotate(-20deg);
    /* quay một góc 20px */ 
    
}
.card:hover .card_title  {
    transform: translate(-38px,-70px) 

    
}
.card:hover  .card_price {
    transform: translate(-130px,-70px) 

}
.card_size {
    margin-top: 170px;
}
.card_size , .card_color , .card_action {
   
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}
.card:hover .card_size,
.card:hover .card_color ,
.card:hover .card_action {
    visibility: visible;
    opacity: 100;
}
.card:hover .card_size {
    margin-top : -30px;
}
