*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    --primary-color : #0A6CF1 ; 
    --background-color : #eee ; 
    --background-box : #dadada ;
    background-color: var(--background-color);
   transition: 0.5s;
}
body.dark {
    --primary-color : #4daf54 ; 
    --background-color :#2d2c2d; 
    --background-box : #3b3b3b;
    background-color: var(--background-color);
}
.nav {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    color: var(--primary-color);
}
.wrap-switch {
    width: 100px;
    background-color: var(--background-box);
    border-radius: 20px;
    height: 40px ; 
    cursor: pointer;
}
.wrap-switch label{
    height:40px ;
    width:  40px;
    background-color: var(--primary-color);
    border-radius: 50%;
    display: block;
    transition: 0.5s;
    cursor: pointer;
    
}
.header {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  
}
.wrap-switch input:checked + label { 
  margin-left: 100px;
  transform: translateX(-40px);
}

.wrap-switch input+ label { 
    margin-left: 0;
    transform: translateX(0);
  }  
  .wrap-switch input {
     width: 100%;
     padding: 100px;
  }
  .content {
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;
  
  }
  .content  h2 {
    font-size: 50px;
    color: var(--primary-color);
  }
  .box {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    background-color: var(--background-box);
    border-radius: 20px;
    padding: 30px ; 
  }
  .box p {
    font-size: 25px;
  }
  .social {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .social div {
    background-color: var(--primary-color);
    padding: 10px;

    border-radius: 10px ; 
    margin: 20px;
   
  }
  .social div a {
    text-decoration :none ;   
      color: white;
  }
  .control-right {
   width: 50%;
  }
  .user {
    display: flex;
  }
  
  