*{
    margin: 0; 
    box-sizing: border-box;
    padding: 0;
}
body {
    height: 100vh;  
    background: linear-gradient(to right , rgb(243, 121, 121)  , rgb(123, 123, 243));

}
.container {
    width: 400px;
    background-color: white;
    margin : 120px auto ; 
    text-align: center;
    padding: 40px;
    border-radius: 15px;

}
.container h2 {
    font-size: 2em;
    
}
.form-control  {
    margin : 20px 0 ; 
    text-align: left;
    width: 100%;
    position: relative;
    padding-bottom: 15px;
}
.form-control input {
 width: 100%;
   border: none;
  margin-bottom: 5px;
  font-size: 16px;
   outline: none;
  border-bottom: 2px solid gray; 

}

.form-control span {
    border-bottom: 2px solid rgb(37, 173, 232); 
    width: 0%;
    display: block;
    transition: 0.5s ;
    position: absolute;
      left: 0;
    bottom:20px;
}
.form-control small {
    position: absolute;
    bottom:  1px;
    right: 2px;
    font-size: 15px;
    width: 100%;
}
.form-control input:focus ~ span{
    width: 100%;
}
.form-control.error span {
    width: 100%;
    border-bottom: 2px solid rgb(232, 60, 37); 
}
.form-control.error small {
    color: red;
}
.btn-close {
    width: 100%;
    align-items: right;
    text-align: right;
    justify-content: right;
    padding-right:15px ;
}
.btn-close  button {
    padding: 10px 15px ;
    border: none;
    outline: none;
    background-color: rgb(103, 240, 240);
    
}
.btn-close  button:active {
    background-color: rgb(2, 236, 236);
 
}

.btn-close  button:hover {
     cursor: pointer;
 
}