:root {
    --primary-color: #95ee1c ;
}
* { 
    margin: 0 ; 
    padding: 0 ; 
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vh;
    height: 100vh;
    background: black;
    
}

.typing-wrapper p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color : var( --primary-color) ; 
    font-weight: bold;
    font-size: 70px;
    text-shadow: 0 0 100px var( --primary-color );
    /* animation: typing 5s steps(30) infinite ,  blink 1s infinite; */
    white-space: nowrap;
    overflow: hidden;
}


@keyframes typing  {
     0% ,100%{
        width: 0;
     }
     80% {
        width: 100%;
     }

 }
 @keyframes blink {
    0% , 100%{
        border-right: 5px solid var(--primary-color);
    }
    50%{
        border-right: 5px solid ;
    }

 }