*{
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
}

.header { 
    height: 100vh;
    background-image: linear-gradient(to right, #4daf54, #3d8880);
    color: white;
    font-size: 30px;
    padding: 100px;

}
.animationLtoR {
    transition: 1s;
    transform: translateX(-150%);
}
.animationRtoL {
    transition: 1s;
    transform: translateX(150%);
}
.body {
    height: 100vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box {
    background-color: #242628;
    width: 500px;
    border-radius: 10px;
    margin: 0 20px;
    padding: 20px;
    color: white;
}
.footer {
    background: linear-gradient(180deg, #017c2c 50%, #fff 50%);
    height: 100vh;
    display: flex  ; 
     justify-content: center;
     align-items: center;
 }
 .person {
    width: 200px;
    padding: 20px;
    margin: 0 25px;
    background-color: #fff;
    box-shadow: 0 0 5px #2e363a;
    border-radius: 10px;
}
 
.start  {
    transition: 1s;
    transform: translateX(0%);
}
.zoom {
    transform: scale(0);
}
.zoom.start {
    transform: scale(1);
}